*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
 /*Основные шрифты*/
--main-font: Roboto, sans-serif;
--sacondary-font: Raleway, sans-serif;
 /*Цвет текста*/
--main-color: #757575;
--white-text: #FFFFFF;
--select-color: #2196F3;
--bleak-text: #000000;
--main-grey: #212121;
/*Цвет фона*/
--main-background: #FFFFFF;
--footer-background: #2F303A;
--section-background: #F5F4FA;
/*Цвет кнопок*/
--activ-btn: #188CE8;
/*Цвет рамки*/
--border-style: 1px solid #EEEEEE;
--border-header: 1px solid #ECECEC;
}
h1, h2, h3, h4, h5, p, ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    padding-left: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /*outline: 2px solid tomato;*/
}
body {
    color: var(--main-color);
    background-color: var(--main-background);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
}
.header {
    /*position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;*/
    background: var(--main-background);
    border-bottom: var(--border-header);
}
.visually-hidden {
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
              /*Логотип*/
.nav-logo-link, .footer-logo-link {
    font-family: var(--sacondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;}
.nav-logo-link {
    margin-right: 93px;    
}   

.nav-logo-link {
    color: var(--bleak-text);}
.footer-logo-link {
    color: var(--white-text);}
.logo {
    color: var(--select-color)}
.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    /*margin-right: 50px;*/
}
.contact-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    /*margin-left: 50px; */  
}
.nav-item {
    margin-right: 50px;
}
.contact-item {
    margin-left: 50px;
}
.nav-item:last-child {
    margin-right: 0;
}
.contact-item:first-child {
    margin-left: 0;
}

.team {
    background-color: var(--section-background);
}
.list {
    padding-left: 0;
    /*margin: 0;
    padding: 0;*/
}
.link {
    text-decoration: none;}
.item {
    list-style-type: none;}
.nav-link {
font-family: var(--main-font);
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-grey);
}
.contact-link {
    /*padding-top: 32px;
    padding-bottom: 32px;*/
    font-weight: 500;
    color: var(--main-color);
}
/*.contact-link li {
    outline: 2px solid turquoise;   
}*/
.nav-link:hover,
.nav-link:focus, .contact-link:hover, .contact-link:focus {
    color: var(--select-color);
}
.link.current {
    color: var(--select-color);
}
.header-container, .nav-list, .header-contact {
    display: flex;
}
.nav {
    align-items: center;   
}
.general-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
         /*Герой*/

.hero {
    /*width: 1600px;
height: 600px;
left: 0px;
top: 80px;*/
/*position: absolute;*/
text-align: center;
padding-bottom: 200px;
padding-top: 200px;
background: var(--footer-background);}
.hero-title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
font-family: var(--main-font);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 30px;
color: var(--white-text); }
          /*Кнопка*/
.hero-btn {
    /*width: 200px;
    height: 50px;
    left: 700px;*/
    padding: 10px 32px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    border-radius: 4px;
    border: 0;
    border-color: var(--select-color);
    color: var(--white-text);
    background-color: var(--select-color);
}
.hero-btn:hover, .hero-btn:focus {
    background-color: var(--activ-btn);
    border-color: var(--activ-btn);
}
       /*Особенности*/
.performance {
    padding-bottom: 94px;   
}
.peculiarity-list {
    display: flex;
}
.peculiarity-item {
    width: calc(100% - 3*30px/ 4);
}
.peculiarity-item:not(:last-child) {
    margin-right: 30px;
}
.team, .peculiarities {
    padding-bottom: 94px;
    padding-top: 94px;   
}
.peculiarity-title {
    margin-bottom: 10px;
font-family: var(--main-font);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-grey)}
.peculiarity-text {
    font-family: var(--main-font);
font-weight: normal400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-color);
}
      /*Команда*/
.team {
    text-align: center;
background-color: var(--section-background);    
}
.team-item {
    border-radius: 0 0 4px 4px;
    /*background-color: aqua;*/
}
.team-list {
    display: flex;
    /*width: 1600px;
    background-color: var(--section-background);*/
}
.team-caption {
    margin-bottom: 50px;
}
.team-item:not(:last-child) {
    margin-right: 30px;
    width: calc(100% - 3*30px/ 4);
}
.team-img {
   /* margin-bottom: 30px;*/
}
.container-team {
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-title {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
/*
letter-spacing: 0.03em;*/
color: var(--main-grey);
}
.team-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
/* text-align: center;*/
    letter-spacing: 0.03em;
    /*margin-bottom: 30px;*/
    color: var(--main-color);
}
.performance-list {
    display: flex;
    /*width: calc(100% - 2*30px/ 3); */ 
}
.performance-item:not(:last-child) {
    margin-right: 30px;
}
.performance-title {
    margin-bottom: 50px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-grey);
}
.performance-img, .team-img, .project-img {
    display: block;
}
.team-caption {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-grey);
}
          /*Футер*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    /*position: absolute;
    width: 1600px;
    height: 252px;*/
    color: var(--white-text);
    background: var(--footer-background)
}
.footer-address {
    margin-top: 20px;
}
.adress-location, .address-link {
    font-style: normal;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.adress-location {
    color: var(--white-text)}
.address-link {
        color: rgba(255, 255, 255, 0.6);}

 /*Портфолио*/
 .project {
     padding-top: 94px;
     padding-bottom: 94px;
     /*margin-right: -15px;
    margin-left: -15px;*/
 }
 .filter-list {
     display: flex;
     justify-content: center;
     /*margin-bottom: 34px;
     padding-bottom: 16px;*/
     margin-bottom: 50px;  
 }
 .filter-item:not(:last-child) {
    margin-right: 8px;
}
 .filter-btn {
     cursor: pointer;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: 0;
    padding: 6px 22px;
    color: var(--main-grey);
    background: var(--section-background);
 }
 .filter-btn:hover, .filter-btn:focus {
    color: var(--white-text);
    background: var(--select-color);
    /*border-color: #2196F3;*/}
.project-item {
   /* width: calc(100% - 3*30px/3);*/
    margin-right: 30px;
    /*margin-left: 15px;*/
    margin-bottom: 30px;
}
.project-item:nth-child(3n) {
    margin-right: 0;
}
.project-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
.project-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    margin: 0;
    padding: 0;
    }
.container-project {
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
    border-right: var(--border-style);
    border-bottom: var(--border-style);
    border-left: var(--border-style);
}
.project-title {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
   
    color: var(--main-grey);}
.project-text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    /*margin-bottom: 20px;
    margin-left: 24px;*/
    color: var(--main-color)}